/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 50px;
  max-width: 600px;
  margin: 100px auto; /* Lower the container */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  background-color: #f5f5f5; /* Change background color */
  margin: 10px auto;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.02);
}

span {
  cursor: pointer;
  flex-grow: 1;
  font-size: 16px;
  text-align: left;
}

button.edit {
  background-color: #ffc107;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
}

button.edit:hover {
  background-color: #e0a800;
}

button.delete {
  background-color: #dc3545;
  padding: 5px 10px;
  font-size: 14px;
}

button.delete:hover {
  background-color: #c82333;
}
